<% if user_signed_in? %>
<nav class="panel">
	<p class="panel-heading">
		フォロワー
	</p>
	<% @users.each do | user |%>
	<% if current_user.follower?(user) %>
	<%= render 'follow_profile' , user: user %>
</nav>
<% end %>
<% end %>

<% end %>