<% @user ||= current_user %>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">ツイート</p>
      <strong id="following" class="stat">
        <%= @user.tweeets.count %>
      </strong>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">フォロー</p>
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">フォロワー</p>
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
    </div>
  </div>
